html,
body {
	padding: 0;
	margin: 0;
}

body {
	padding: 23px;
}

body.dark-mode .noUi-connect {
	background: #B4B4B4;
}

body.dark-mode .noUi-base, body.dark-mode .noUi-target {
	background: #606060;
}

.noUi-base, .noUi-target {
	height: 4px;
	background: #B4B4B4;
	border-radius: 10px;
	border-width: 0px;
}

.noUi-connect {
	height: 4px;
	background: #6598EE;
	border-color: #6598EE;
}

.noUi-horizontal .noUi-handle {
	border-radius: 50%;
	width: 17px;
	height: 17px;
	padding: 0;
	box-shadow: none;
	outline: none;
	left: -10px;
}

.noUi-handle:after, .noUi-handle:before {
	display: none;
}
